/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e2121; /* Dark background */
    color: #ffffff; /* White text */
}

.content, .header-content, .highlights, .projects {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #1e2121;
    padding: 20px;
    border-bottom: 2px solid #444;
    text-align: left;
}

header h1 {
    font-size: 3em;
    margin: 10px 0;
    color: #ffffff;
}

.back-button a {
    color: #888;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.back-button a:hover {
    color: #ccc;
}

/* Section Titles (Highlights and All Projects) */
.highlights h2, .projects h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

/* Card Styles (Shared by Highlights and Projects) */
.card-item {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-item img {
    width: 40%;
    height: auto;
    border-right: 2px solid #444;
}

.card-details {
    padding: 20px;
    flex-grow: 1;
    text-align: left;
}

.card-details h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.card-details p {
    font-size: 1.1em;
    line-height: 1.5;
    margin: 0;
}

.card-details .year-duration {
    font-size: 0.9em;
    color: #888;
    margin-top: 10px;
    text-align: right;
}

.card-item:hover {
    transform: scale(0.98);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2e2e2e;
    color: #888;
    border-top: 2px solid #444;
}