:root {
    --left-margin: 6.5%;
}

body {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

#cursor {
    display: inline-block;
    width: 10px;
    animation: blink 0.7s steps(1) infinite;
    margin-left: 2px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

header {
    background-color: var(--highlight-color);
    width: 100%;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin: 0;
}

header h1 {
    margin: 0 var(--left-margin);
    font-size: 2.5em;
    font-family: var(--font-header);
    color: var(--text-color);
}

header p {
    font-size: 1.5em;
    color: var(--text-color);
    max-width: 40%;
    margin: 1em var(--left-margin);
}

#dynamic-text {
    display: inline;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: 2em auto;
}

.image-row img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.image-row img:hover {
    transform: scale(1.02);
}

.subheaders {
    font-family: var(--font-subheader);
    color: var(--title-color);
    text-align: left;
    margin-bottom: 1em;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 2em;
    margin: 2em 0;
    max-width: 800px;
    text-align: left;
    margin-left: var(--left-margin);
}

#about p {
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 90%;
    text-align: left;
    color: var(--text-color);
    margin: 0;
}

#about a {
    color: var(--link-color);
    text-decoration: underline;
}

#about a:hover {
    color: var(--title-color);
}

.section {
    padding: 2em;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

.section a, .subheaders a {
    color: var(--link-color);
    text-decoration: none;
}

.section a:hover, .subheaders a:hover {
    color: var(--title-color);
    text-decoration: none;
}

.projects, .skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card, .skill-card {
    background-color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    padding: 1.5em;
    margin: 1.5em 0;
    width: 100%;
    max-width: 350px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
}

.project-card:hover, .skill-card:hover {
    transform: scale(1.02);
    color: var(--title-color);
}

.card img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 1.5em;
}

.card-content {
    flex-grow: 1;
    text-align: left;
}

.card-content h3 {
    margin: 0.5em 0;
    font-size: 1.5em;
    font-family: var(--font-header);
    color: var(--title-color);
}

.card-content p {
    color: var(--text-color);
    font-family: var(--font-body);
}

.project-card .year {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--title-color);
    position: absolute;
    top: 10px;
    right: 10px;
}

footer {
    background-color: var(--title-color);
    color: var(--background-color);
    text-align: center;
    padding: 1.5em;
    font-size: 1.1em;
    font-family: var(--font-body);
}