body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e2121; /* Dark background */
    color: #ffffff; /* White text */
}

#cursor {
    display: inline-block;
    width: 10px;
    background-color: black;
    animation: blink 0.7s steps(1) infinite;
    margin-left: 2px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

header {
    background-color: #1e2121; /* Match background color */
    padding: 4em 2em; /* More padding for emphasis */
    text-align: center;
}

header h1 {
    margin: 0.5em 0;
    font-size: 2.5em; /* Larger header text */
    font-style: italic; /* Italicized font */
}

header p {
    font-size: 1.5em; /* Larger paragraph text */
    color: #d4d4d4; /* Slightly lighter text for contrast */
}

.section {
    padding: 2em;
    text-align: center;
}

.section a {
    color: inherit; /* Inherit the color of the parent element */
    text-decoration: none; /* Remove the underline */
}

.section a:hover {
    color: #ffdd57; /* Add a hover effect if desired */
    text-decoration: none; /* Ensure underline stays removed on hover */
}

.projects, .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card, .skill-card {
    background-color: #2e2e2e;
    border: 1px solid #3d3d3d;
    padding: 1.5em;
    margin: 1.5em 0;
    width: 90%; /* Takes up most of the screen horizontally */
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth shrinking and color change */
    position: relative;
}

.project-card:hover, .skill-card:hover {
    transform: scale(0.98); /* Slightly reduce the shrink effect */
}

.card img {
    max-width: 150px; /* Set a fixed width for the image */
    height: auto;
    border-radius: 5px;
    margin-right: 1.5em; /* Space between image and text */
}

.card-content {
    flex-grow: 1;
    text-align: left;
}

.card-content h3 {
    margin: 0.5em 0;
    font-size: 1.5em; /* Adjust text size */
}

.card-content p {
    color: #d4d4d4;
}

.project-card .year {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffdd57;
    position: absolute;
    top: 10px;
    right: 10px;
}

footer {
    background-color: #1e2121;
    color: white;
    text-align: center;
    padding: 1.5em;
    font-size: 1.1em;
}