body {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

.content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
}

.back-button a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.back-button a:hover {
    color: var(--highlight-color);
}

.article h1 {
    font-family: var(--font-heading);
    color: var(--title-color);
    font-size: 36px;
    margin-bottom: 5px;
}

.article-meta {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.article {
    flex: 3;
    padding-right: 20px;
}

.toc {
    flex: 1;
    position: sticky;
    top: 20px; /* Keeps the TOC 20px from the top of the viewport */
    align-self: flex-start; /* Ensures the TOC aligns with the top of the container */
    max-height: calc(100vh - 40px); /* Limits TOC height to viewport height minus margin */
    overflow-y: auto; /* Adds scrolling if TOC exceeds viewport height */
}

/* Example styles for the TOC */
.toc ul {
    list-style: none;
    padding: 0;
}

.toc ul li {
    margin-bottom: 10px;
}

.toc ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.toc ul li a:hover {
    color: var(--link-color);
}

.toc ul li a.active {
    color: var(--highlight-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 1.5em;
    font-size: 1.1em;
}